
manifest {
    name            = 'nausikt/nf-archi'
    description     = 'Archi benchmarking, bootstrapping and prelabelling pipeline'
    author          = 'Nausikt'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.0'
    version         = '0.1.0'
}

plugins {
    id 'nf-schema@2.2.0'
}

validation {
    help {
        enabled = true
    }
    summary {
        beforeText = "Pipeline starting..."
    }
}

params {
    outdir = "results"

    embed {
        endpoint   = "http://submit76.mit.edu:7870"
        model      = "qwen3-embedding:8b"
        text_fields = ['question', 'answer']
        batch_size = 64
    }

    cluster {
        runs = "${projectDir}/assets/cluster/runs.json"
        seed = 42

        grid = null 
    }
}

profiles {

    demo_bootstrapping {
        params {
            workflow = 'bootstrapping'
            input    = "${projectDir}/assets/tests/inputs/2026-06-06/"
        }
    }

    demo_prelabelling {
        params {
            workflow = 'prelabelling'
            input    = "${projectDir}/assets/tests/inputs/2026-06-06/"
        }
    }

    demo_benchmarking {
        params {
            workflow = 'benchmarking'
            queries  = "${projectDir}/assets/tests/inputs/2026-06-06/"
            configs  = "${projectDir}/assets/tests/configs/"
        }
    }

    test {
        params {
            outdir = "test_results"
        }
        process {
            cpus   = 1
            memory = '2.GB'
        }
    }

    docker {
        docker.enabled = true
    }

    conda {
        conda.enabled = true
        conda.useMicromamba = true
    }

    singularity {
        singularity.enabled = true
    }
}
